@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@200&family=Square+Peg&display=swap');

body {
    font-family: 'Noto Serif', serif;
}

div.header {
    font-family: 'Square Peg', cursive;
    text-align: center;
    font-size: 40px;
    color: red;
    padding: 0px;
}

span.coreano {
    font-family: 'Noto Serif KR', serif;
    font-size: 50px;
}

div.navigation {
    background-color: white;
    border-bottom: 5px solid blue;
    text-align: center;
    position: sticky;
    /* por que no se pone stiky el nav?*/
}

li.item {
    display: inline;
    list-style: none;
    padding: 20px;
    margin: 10px;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
}

img {
    height: 300px;
    width: 215px;
    border-radius: 5px;
}

div.ficha {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.content {
    margin: 30px 200px
}

.post {
    text-align: justify;
}

form {
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    border: 3px solid black;

}

button.enviar {
    height: 40px;
    width: 150px;
    margin-left: 35%;
    margin-top: 10px;
    border-radius: 3px;
}

button.comprobar {
    text-align: center;

}

label,
input,
textarea {
    margin: 10px;
    border-radius: 3px;

}

input {
    height: 50px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 92%;
    resize: none;
    padding-right: 15px;
}

.indicaciones,
#resultado {
    display: block;
}

#aleatorio,
#nuevoCaptcha,
#comprobar {
    padding: 10%;
    display: inline;
}

table tr td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: justify;
}

tbody {
    color: black;
}

thead {
    color: red;
    background-color: beige;
    font-family: 'Square Peg', cursive;
    font-size: 30px;

}

table {
    width: 100%;
}