@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@200&family=Square+Peg&display=swap');

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    border: 20px solid lightpink;

}

div.header {
    margin-bottom: 50px;
    height: 80%;
    border-bottom: 1px solid lightgray;
    width: auto;   

}

div.post h2, div.content h1,.item a, thead {
    color: #45484a;
}

div.nombrePag, div.post h2, div.content h1 {
   font-family: 'Square Peg', cursive;
    text-align: left;
    font-size: 45px;  
}

.nombrePag h1 {
    margin: 0;
    color: white;
}
div.nombrePag{
    border-bottom: 1px solid white;
    text-align: center;
    background-image: url(../img/fondo.jpg);
}
span.coreano {
    font-family: 'Noto Serif KR', serif;
    font-size: 50px;
}

div.navigation {
    display: flex;
    justify-content: center;
    background-color: #ffe0e9;
    
}
.item a {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    
}
li.item {
    display: inline;
    list-style: none;
    margin: 10px;
    text-transform: uppercase;
    font-size: 15px;

}
li.item :hover{
   font-size: 18px;
  
}

.imagen img {
    height: 300px;
    width: 215px;
    border-radius: 5px;
}
.content, .footer {
    margin: 30px 200px;
}
div.post {
    text-align: justify;
    border-bottom: 2px solid black;
}
div.estreno, div.resenia{ 
   /* padding: 30px;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}
div.descripcionDrama {
    width: 650px;
}
 h3.tituloDrama {
    font-size: 20px;
    display: block;
}

form {
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    border: 3px solid black;
    background-color: #ffe0e9;
}
label, input, textarea {
    margin: 10px;
    border-radius: 3px;
}
form .formulario input {
    width: 92%;
    height: 40px; 
}
.formulario {
    display: flex;
    flex-direction: column;
    
}
textarea {
    width: 90%;
    resize: none;
    padding-right: 15px;
}
div.captcha{
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    width: 90%;  
}
.captcha .numeroIngresado {
    display: flex;
    flex-direction: row;
}
.numeroIngresado #resultadoUsuario {
    width: 40%;
    margin-right: 20px;
}
.captcha h3, .indicaciones, #aleatorio, #resultado {
    margin-left:10px;
}
div#aleatorio {
    font-size: 25px;
    font-weight: bold;
}
button#comprobar {
    margin-right: 10px;
}
#enviar, #comprobar, #nuevoCaptcha  {
    height: 40px;
    width: 120px;
    margin-top: 15px;
    border-radius: 3px;
}
.buttonEnviar {
    display: flex;
    justify-content: center;
}
.ocultar {
    display: none;
}

thead {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    font-weight: bold;
}

table {
    width: 100%;
}

table tr td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

div.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
   /*padding-top: 20px;*/
   /* margin-top: 50px;*/
    /*height: 80px;*/
  /* background-color: blue;*/ 
}

div.redes {
   margin: 0;
   height: 50px;
   width: 40%;
   display: flex;
   justify-content: right;
}

div.copyright {
    width: 60%;
    font-size: 12px;
    color: gray;
}

div.redes img {
    height: 50px ;
    width: 50px;
    padding: 5px 5px;
    border-radius: 35px;
}
