@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@200&family=Square+Peg&display=swap');

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
}
div.head {
    height: 80%;
    background-color: blue;
    /*background-image: url("../img/corea.jpg");*/
    width: auto;
    
}

div.header {
   font-family: 'Square Peg', cursive;
    text-align: center;
    font-size: 40px;
    color: red;

    border-bottom: white solid 1px;
    
}
.header h1 {
    margin: 0;
}

span.coreano {
    font-family: 'Noto Serif KR', serif;
    font-size: 50px;
}

div.navigation {
    border-bottom: 5px solid darkblue;
    text-align: center;
    position: sticky; /* por que no se pone stiky el nav?*/
    
}
.item a {
    color: red;
    text-decoration: none;
}

li.item {
    display: inline;
    list-style: none;
    /*padding: 20px;*/
    margin: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

img {
    height: 300px;
    width: 215px;
    border-radius: 5px;
}

div.ficha {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.content {
    margin: 30px 200px
}
.estrenos, .post1 {
    border-bottom: 3px solid black; 
}
.estrenos .post1 {

}

.post {
    text-align: justify;
   
}
.content .post1 {
    display: flex;
    flex-direction: row;
}

.post1 .reseña1 {
    margin-right: 10px;;
}
.tituloReseña h3 {
    font-size: 25px;
}

form {
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    border: 3px solid black;

}

button.enviar {
    height: 40px;
    width: 150px;
    margin-left: 35%;
    margin-top: 10px;
    border-radius: 3px;
}

button.comprobar {
    text-align: center;

}

label, input, textarea {
    margin: 10px;
    border-radius: 3px;

}

form .formulario input {
    width: 92%;
    height: 50px; 

}

.formulario {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 90%;
    resize: none;
    padding-right: 15px;
}

.indicaciones,
#resultado {
    display: block;
}

#aleatorio,
#nuevoCaptcha,
#comprobar {
    padding: 10%;
    display: inline;
}

table tr td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: justify;
}

tbody {
    color: black;
}

thead {
    color: red;
    background-color: beige;
    font-family: 'Square Peg', cursive;
    font-size: 30px;

}

table {
    width: 100%;
}
div.footer {
    padding-top: 20px;
    height: 80px;
    background-color: blue;
    text-align: center;
}
.copyright h4 {
    margin: 0;
}

